Feature: Run the REST server with prefilled data for testing the web UI
    As an admin
    I want to run a REST server with prefilled data
    So that I can test the web UI

    # Move this file to web_test.feature and run it to get a REST API servers
    # running. The scenario below will print out the server info when it starts
    # up if you pass --no-capture to your behave command:
    # behave --no-capture features/rest/web_test.feature

    @rest
    Scenario:
        Given there is a project with name="proj1"
        And there is a project with name="proj2"
        And there is a project with name="proj3"

        And there is an application with pkg_name="app1"
        And there are packages:
            | version   | revision  | status    |
            | 1         | 1         | completed |
            | 1         | 2         | completed |
            | 2         | 3         | completed |
            | 2         | 4         | completed |

        And there is an application with pkg_name="app2"
        And there are packages:
            | version   | revision  | status    |
            | 3         | 5         | completed |
            | 3         | 6         | completed |
            | 3         | 7         | completed |

        And there is an application with pkg_name="app3"
        And there are packages:
            | version   | revision  | status    |
            | 8         | 1         | completed |
            | 9         | 1         | failed    |
            | 10        | 1         | removed   |
            | 11        | 1         | completed |

        And there is an environment with name="dev"
        And there is an environment with name="stage"
        And there is an environment with name="prod"

        And there is a deploy target with name="tier1"
        And there is a deploy target with name="tier2"
        And there is a deploy target with name="tier3"
        And there is a deploy target with name="tier4"

        And the tier "tier1" is associated with the application "app1" for the project "proj1"
        And the tier "tier2" is associated with the application "app2" for the project "proj2"
        And the tier "tier3" is associated with the application "app3" for the project "proj3"

        And there are hosts:
            | name      | env   | app_id    |
            | host1     | dev   | 2         |
            | host2     | dev   | 2         |
            | host3     | stage | 2         |
            | host4     | stage | 2         |
            | host5     | stage | 2         |
            | host6     | prod  | 2         |
            | host7     | prod  | 2         |
            | host8     | prod  | 2         |
            | host9     | prod  | 2         |

            | host10    | dev   | 3         |
            | host11    | stage | 3         |
            | host12    | stage | 3         |
            | host13    | prod  | 3         |
            | host14    | prod  | 3         |
            | host15    | prod  | 3         |

            | host16    | dev   | 4         |
            | host17    | stage | 4         |
            | host18    | prod  | 4         |

        And there are deployments:
            | id    | user  | status    |
            | 1     | foo   | complete  |
            | 2     | bar   | canceled  |
            | 3     | baz   | failed    |
            | 4     | foo   | pending   |

        And there are host deployments:
            | id    | deployment_id | host_id   | status    | user  | package_id    |
            | 1     | 1             | 1         | ok        | foo   | 1             |
        And I run the REST server forever
