cov-core==1.7
coverage==3.7.1
factory-boy==2.3.1
flake8==2.1.0
logilab-astng==0.24.3
logilab-common==0.59.1
mccabe==0.2.1
mock==1.0.1
pep8==1.4.6
py==1.4.19
pyflakes==0.7.3
pylint==0.28.0
pymetrics==0.1
pyntch==20091028
pytest==2.3.5
pytest-cov==1.6
unittest-data-provider==1.0.1
unittest2==0.5.1
zope.interface==4.1.0
